{% extends "base.html" %} 
{% block style %}<link rel="stylesheet" href="/static/camera.css">{% endblock %}
{% block title %}Camera{% endblock %}
{% block body %}
<main id = "camera">
    
    <video autoplay></video>

    <canvas class = "d-none"></canvas>
    <div id = "mask">
        <img id = "corners" alt = "">
    </div>

    <img id = "ss" class="screenshot-image d-none" alt="">

    <div class="controls">
        <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
        <button id="camera--trigger" title="ScreenShot" lass="btn btn-outline-success screenshot d-none">Take a picture</button>
    </div>
    
</main>
{% endblock %}
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="/static/camera.js"></script>
{% endblock %}