
<!---------------Extends Base Template--------------------->
{% extends "base.html" %} 
{% block title %}Save to PDF{% endblock %}

<!------------------CSS--------------------->
{% block style %}<link rel="stylesheet" href="static/css/preview.css">{% endblock %}


<!-------------body-------------->
{% block body %}
<main id = "view">
    <h1>all the magic will happen here</h1>
</main>
{% endblock %}

<!-----------------JavaScript------------------------>
{% block script %}
<script src="static/js/preview.js"></script>
{% endblock %}